body {
	font-family: "Open Sans", sans-serif;
	margin-bottom: 60px;
}

h1 {
	font-weight: 900;
}

a {
	color: black;
}

a:hover {
	color: red;
}

.email:before {
	content: "nicholas_tomlin@berkeley.edu";
}

.news {
	margin-top: 30px;
}

.newsdate {
	font-weight: 700;
}

.newsitem {
	margin-bottom: 15px;
}

.divider {
	margin-top: 60px;
	margin-bottom: 60px;
	height: 1px;
	width: 100%;
	background-color: black;
}

.pubyear {
	font-size: 30px;
}

.pub {
	margin-bottom: 30px;
}

.abstract{
	font-size: 14px;
}

#content {
	width: 600px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#header {
	margin-top: 30px;
}

#photo {
	width: 120px;
	height: 240px;
	float: right;
	margin-right: 30px;
	margin-left: 15px;
	margin-top: 30px;
	background: red;
}

#aboutme {
	margin-top: 45px;
	margin-bottom: 60px;
}

#news {

}

#publications {

}

#extra {
	float: right;
	height: 10px;
	width: 10px;
	margin-top: 0px;
	margin-right: -35px;
	border-radius: 50%;
	background-color: grey;
	opacity: 0.5;
}

#extra:hover {
	background-color: red;
	cursor: pointer;
}